body{

}

table{
margin:auto;
width:90%;
}

td{
border:1px solid black;
}

p{
text-align:justify;
margin-left:1em;
margin-right:1em;
}

.concepto{
width:10%;
background-color:#d5f8d2;
}

.ingles{
background-color:#f4f9b1;
}

.espanol{
background-color:#f9b1b1;
}
.des{
width:50%;
background-color:#d2ecf8;
}
